.header {
    position: relative;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}